<base-panel title="Devices">
  <div class="panel-block">
    <p class="control has-icons-left">
    <input class="input is-small" type="text" placeholder="search" />
    <base-icon icon="magnify" class="is-left" size="is-small"></base-icon>
    </p>
  </div>
  <a class="panel-block" v-for="(device, index) in devices">
    <base-icon
      class="panel-icon"
      v-if="device.icon != null"
      :icon="device.icon"
    ></base-icon>
    <p class="has-text-justified">
    <span class="has-text-weight-bold">{{ device.name }}:</span>

    <span class="has-text-weight-light"> {{ device.description }}</span>
    </p>
  </a>
</base-panel>
