<div>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Hello!</h1>
        <h2 class="subtitle">Welcome to the WoT gateway.</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <h2 class="subtitle">
        <router-link to="/devices">Devices</router-link>
      </h2>
    </div>
    <!-- <device-menu :allDevices="allDevices"></device-menu> -->
  </section>

  <temp-info></temp-info>
</div>
