<div class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <router-link to="/home" class="navbar-item">{{ title }}</router-link>
    <!-- <a class="navbar-item" href="/">{{ title }}</a> -->

    <a class="navbar-item" href="#">About</a>
    <a class="navbar-item" href="https://github.com/baberthal/wot-project" target="_blank">Code</a>

    <a class="navbar-burger" href="#" role="button" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <!-- <nav-toggle-button @click.native="toggleMenu" :isActive="menuActive" /> -->
  </div>

  <!-- <nav-menu :isActive="menuActive" :items="menuItems" /> -->
</div>
