// Sidebar styles

.sidebar-container {
  background-image: $sidebar-background;
}

.current-conditions {
  color: $white;
  font-size: 8rem;
  position: relative;

  > span {
    color: $white;
    font-size: 3.6rem;
    vertical-align: super;
    opacity: 0.8;
  }
}
